@using System.Security.Claims
@model skateparatodos.Models.Doacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Doação</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
    </dl>
    <h4>Peças</h4>
    <dl class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Peça
                    </th>
                    <th>
                        Doador
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DoacoesItens.OrderByDescending(c => c.Peca))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Peca)
                        </td>
                        <td>
                            @if (item.Usuario != null)
                            {
                                @Html.DisplayFor(modelItem => item.Usuario.Nome)
                            }
                        </td>
                        <td>
                            @if (item.Usuario != null)
                            {
                                <!--<input type="submit" value="Cancelar" class="btn btn-primary" />!-->
                            }
                            else
                            {
                                <form asp-action="Doar" asp-controller="DoacoesItens" asp-route-id="@item.Id">
                                    <input type="submit" value="Doar" class="btn btn-primary" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
    <h4>Conversa</h4>
    <dl class="row">
        <form asp-action="CreateComentario" asp-controller="Comentarios">
            <input type="hidden" name="DoacaoId" value="@Model.Id" />
            <input type="text" name="Texto" class="form-control" />
            <input type="submit" value="Comentar" class="btn btn-primary" />
        </form>
    </dl>
    <dl class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Comentário
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Comentarios.OrderByDescending(c => c.Data))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Texto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |-->
    <a asp-action="Index">Voltar para Doações</a>
</div>